
                   //log out 
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>


// this is to display all users in a table 
<div class="container">
    <div class="row">
        <h1> Registered Users </h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</div>


