<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit Student</title>
    <div class="header" id="myHeader">
        
        <h2 id="title"><img src="for.png" alt="TrekMate" style="width:40px;height:40px;">TrekMate
            <div id="logout">Logout</div>
        </h2>
        
    </div>
</head>
<body>
    <h1 class="text-center mt-5 mb-4">Edit Profile</h1>
    <form th:action="'/user/userPage/'+${user.uid}+'/edited'" method="post">

        <div class="mb-3">
            <center>
                <img src="pencil.png" alt="name" style="width:30px;height:30px;">
            <input type="text" id="name" name="name" class="form-control-lg"
                th:value="${user.name}" placeholder="Name">
            </center>
        </div>
        <div class="mb-3">
            <center>
                <img src="pin.png" alt="name" style="width:30px;height:30px;">
            <input type="text" id="location" name="location" class="form-control-lg"
                th:value="${user.location}" placeholder="Location">
            </center>
        </div>
        <div class="mb-3">
            <center>
                <img src="stairs.png" alt="name" style="width:30px;height:30px;">
            <label for="difficulty">Choose a Difficulty/Experience Level:</label>
            <select type="text" id="difficulty" name="difficulty" class="form-control-lg"
            placeholder="">
                <option th:value="${user.diffulty}" th:text="${user.difficulty}"></option>
                <option value="Beginner/Casual">Beginner/Casual</option>
                <option value="Experienced">Experienced</option>
                <option value="Advanced">Advanced</option>
            </select>
            </center>
        </div>
        <div class="mb-3">
            <center>
                <img src="mail.png" alt="email" style="width:30px;height:30px;">
            <input type="text" id="email" name="email" class="form-control-lg"
                th:value="${user.email}" placeholder="Email">
            </center>
        </div>
        <div class="mb-3">
            <center>
                <img src="cake.png" alt="age" style="width:30px;height:30px;">
            <input type="number" id="age" name="age" class="form-control-lg"
                th:value="${user.age}" placeholder="Age">
            </center>
        </div>
        <!-- Submit Button -->
        <input type="hidden" name="idddd" th:value="${user.id}" />

        <div class="d-grid gap-2">
            <center>
            <input class="btn btn-primary" type="submit" value="SEND" style="background: #61A43D;"></input>
            </center>
        </div>

    </form>
    <script>
       /* window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;*/
        
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
    </script>
</body>
</html>