<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Removed</title>
    <div class="header" id="myHeader">
        
        <h2 id="title"><img src="for.png" alt="TrekMate" style="width:40px;height:40px;">TrekMate
            <div id="logout">Logout</div>
        </h2>
        
    </div>
</head>
<body>
    <center style = 'margin-top: 20px;' id = 'rem'>User Successfully Removed From Database</center>
    <center style = 'font-weight: bold;'><a href="../../user/adminView">Return to Admin View Page</a></center>

    <script>
        /* window.onscroll = function() {myFunction()};
         
         var header = document.getElementById("myHeader");
         var sticky = header.offsetTop;*/
         
         function myFunction() {
           if (window.pageYOffset > sticky) {
             header.classList.add("sticky");
           } else {
             header.classList.remove("sticky");
           }
         }
     </script>
</body>
</html>